.footer {
    margin-top: 2rem;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    &__logo img{
        height: 3rem;
        padding: 0;
        margin-right: 3rem;
        margin-left: 2rem;
    }
    &__copyright{
        flex-grow: 1;
        color: #878787;
        font-size: 1.2rem;
    }
}